{% extends "tempfirst/index.html" %}

{% block content%}

<section class="container">
    <section class="row justify-content-center mr-5">
        <section class="col-12 col-sm-6 col-lg-3">

            <div id="for_home">
            <h1 class="display-4 text-primary">MAKE YOUR</h1>
            <h1 class="display-4 text-primary">THINGS DONE</h1>
            <p class="text-secondary">
                <span><h5>TODO's</h5></span> of the most important reasons for keeping a to-do list is the organization. Organizing your tasks with a list can make everything much more manageable and make you feel grounded. 
            </p>

        </div>
        </section>
    </section>
</section>


{% endblock %}